$path: "http://usarmy.vo.llnwd.net/e2/rv5_images/bestwarrior/graphics/";

// nav items
$nav-bkgd: $path + "nav_bkgd.jpg";
$nav-bkgd-active: $path + "nav_bkgd_active.jpg";
$nav-bkgd-hover: $path + "nav_bkgd_hover.jpg";

// main items
$army-logo: $path + "armyLogoTrans.gif";
$sprite: $path + "previous_winners_sprite.png";
$document: $path + "document.png";
$paginate-left: $path + "pagination_left.jpg";
$paginate-right: $path + "pagination_right.jpg";
$map: $path + "map.jpg";
$archive-button: $path + "archive_button.jpg";

// grey boxes
$greybox-bottom: $path + "greybox_bottom.jpg";
$greybox-middle: $path + "greybox_middle.jpg";
$greybox-top: $path + "greybox_top.jpg";

$bwc-shield: $path + "bwc_shield.png";

// flickr items
$flickrbox-bottom: $path + "flickrbox_bottom.jpg";
$flickrbox-middle: $path + "flickrbox_middle.jpg";
$flickrbox-top: $path + "flickrbox_top.jpg";

// footer
$footer-gradient: $path + "footer_gradient.jpg";
$footer-bkgd: $path + "footer_bkgd.jpg";

// search
$search-sprite: $path + "search_sprite.png";