#nav {
    background: url($nav-bkgd) repeat-x scroll 0% 0% transparent;
    font-size: 75%;
    height: 47px;
    overflow: visible;
    text-align: center;
    width: 744px;
    
    ul {
        display: table;
        margin: 0px auto;
        table-layout: fixed;
        width: 100%;
        li {
            display: table-cell;
            line-height: 47px;
            text-align: center;
            a {
                display: block;
                text-decoration: none;
                text-transform: uppercase;
                
                &.currentPg {
                    background: url($nav-bkgd-active) repeat-x scroll 0% 0% transparent;
                }
            }
            &:hover, &:focus {
                background: url($nav-bkgd-hover) repeat-x scroll 0% 0% transparent;
                color: #fffcdf;
            }
        }
    }
    
    @include old-ie() {
        ul {
            display: block;
            
            li {
                float: left;
                width: 16.6%;
            }
        }
    }
}